
      <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                  <a class="navbar-brand" href="index.html"> <img class="img-responsive" src="assets/images/logo.png "/></a><a class="navbar-brand pad" href="index.html">Infinity</a>
                
                
            </div>
            <!-- /.navbar-header -->
                                    
             <ul class="nav navbar-top-links navbar-left">
                  <li>
                          <a class="nav-link" href="" routerLink="home">
                            <i class="fa fa-fw fa-home"></i>Home</a>
                  </li>
                   <li>
                          <a class="nav-link" href="" routerLink="home/lookupMaintenance/lookupInventory">
                            <i class="fa fa-fw fa-eye"></i>Lookups Maintenance</a>
                  </li>
                  <li *ngIf="isSuperUser || isCommercialViewAllowed">
                            <a class="nav-link" href="" routerLink="home/commercialkit">
                              <i class="fa fa-fw fa-suitcase"></i>Commercial Kit</a>
                   </li>
             </ul>
            <ul class="nav navbar-top-links navbar-right">
         
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> Release 1
                                    <span class="pull-right text-muted small">1 day ago</span>
                                </div>
                            </a>
                        </li>
                         <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i>  Release 2
                                    <span class="pull-right text-muted small">2 days ago</span>
                                </div>
                            </a>
                        </li>
                         <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i>  Release 3
                                    <span class="pull-right text-muted small">3 days ago</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Releases</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i>Configurations</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <li>
                          <a class="nav-link logoutHand"  (click)="logoutApp()">
                            <i class="fa fa-fw fa-sign-out logoutHand"></i>Logout
                          </a>
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

             
            <!-- /.navbar-static-side -->
        </nav>

     <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logoutModalLabel">Please Confirm!</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Are you sure you want to logout?</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>

    </div>