 <footer class="sticky-footer">
      <div class="container">
        <div class="text-center" style="background-color: #f8f8f8; color:black">
          <small>Copyright ©MediaIQ Digital Pvt Ltd 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>