

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12" align="center">
                    <img src="assets/images/amnet.png" class="amnet-logo img-responsive" />
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row"><h1 class="page-header">
              <div align="center">
                <b>Power Kit</b>
              </div>
                </h1>
             </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                 <div class="col-xs-3">
                                    <i class="fa fa-money fa-2x"></i>
                                </div>
                                
                            </div>
                             <div class="row">
                                <div class="col-xs-9 text-left">
                                    <div class="huge">Commercial Power Kit</div>
                                 </div>
                            </div>
                        </div>
                        <a href="#" routerLink="commercialkit">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-check-square fa-2x"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9 text-left">
                                    <div class="huge">Planner Power Kit</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                             <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tumblr-square fa-2x"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9 text-left">
                                    <div class="huge"> Trader Power &nbsp;Kit </div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-2x"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9 text-left">
                                    <div class="huge">Admin<br> Kit<br></div>
                                </div>
                            </div>
                        </div>
                        <a href="" routerLink="lookupMaintenance">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
            <!-- /.row -->
         </div>   
        <!-- /#page-wrapper -->
   
   
    <!-- /#wrapper -->

 

